{% extends "base.html" %}

{% block title_head %}
inicio
{% endblock title_head %}

{% block h1_header %}
<h1>
    Bienvenidos a Vuelos
</h1>
{% endblock h1_header %}

{% block main %}

<ul>
    -En esta web se podran registrar y ver listado vuelos de aerolineas comerciales con los siguientes tipos de datos:<br>
    -Nombre de Vuelo, que consiste en el nombre asociado a una ruta aerea ej: 'AEA046'<br>
    -Aerolinea que realiza el vuelo Ej: 'Air Europa'<br>
    -Fabricante del avion Ej: 'Boeing, Airbus, Embraer'<br>
    -Modelo del avion Ej: '787, A330, E190'<br>
    -Capacidad maxima de pasajeros Ej: '200, 300, ...'<br>
    <br>
-Para acceder a la web, luego de hacer los pasos basicos de para el funcionamiento de la web e ir a 127.0.0.1:8000, en la parte superior hay una barra de navegacion con los botones<br>
    -Inicio (lleva a la pagina inicial)<br>
    -Crear Vuelo (entras a la pagina para registrar los datos)<br>
    -Listado de vuelos (aca se ven en forma de lista todos los vuelos registrados previamente, con el siguiente formato ej: 'Vuelo AEA046 de Air Europa con el Boeing 787-900')<br>
</ul>

{% endblock main %}
